.banner {
	height: 120px;
	background: #354556;
	display: flex;
	align-items: center;
	padding-left: 150px;
}

.bigcontent {
	text-align: center;
	justify-content: center;
	display: flex;
}
.content {
	width: 965px;
	background: white;
}
.pic {
	height: 160px;
	width: 960px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.pic:hover {
	height: 230px;
	border-radius: 10px;
}

.info {
	background: #ecf0f1;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.columns {
	margin: 0 auto;
	display: flex;
	width: 960px;
	justify-content: space-around;
	text-align: center;
}
.colomn {
	width: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.topic {
	color: #2c3e50;
	padding-top: 30px;
	text-align: center;
	font-size: 28px;
	font-family: Lato;
	font-weight: 300;
}
.lorem {
	color: #7f8c8d;
	padding-top: 25px;
	font-size: 16px;
	width: 300px;
	text-align: center;
	font-weight: 400;
	font-family: Lato;
}
