main > .container {
	padding: 20px 0;
	text-align: center;
}

main > .container p {
	color: #7f8c8d;
	font-size: 16px;
	line-height: 160%;
	font-family: Lato;
	font-weight: 400;
}

.info {
	padding-top: 25px;
	padding-bottom: 25px;
}
.post {
	padding-top: 80px;
}

.link {
	font-size: 14px;
	color: #7f8c8d;
	font-family: Lato;
	font-weight: 400;
	text-decoration: underline;
}

.menu {
	text-decoration: none;
	color: #d1d9e2;
	background: #16a085;
	line-height: 1;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.menu:hover {
	color: #7fff00;
	text-shadow: 2px 2px 3px black;
}
