main {
	height: 730px;
	background-color: white;
}

.content {
	width: 1110px;
	display: flex;
	margin: 0 auto;
}

.lorem {
	font-size: 16px;
	color: #7f8c8d;
	font-family: Lato;
	font-weight: 400;
}

.columns {
	margin: 0 auto;
	display: flex;
	width: 960px;
	justify-content: space-around;
	text-align: center;
}
.colomn {
	width: 465px;
	margin-top: 30px;
	margin-bottom: 30px;
}

input {
	width: 455px;
	height: 30px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #7f8c8d;
	font-family: Lato;
	font-weight: 400;
	background-color: #f9f9fd;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
}
textarea {
	width: 455px;
	height: 200px;
	font-size: 14px;
	color: #7f8c8d;
	font-family: Lato;
	font-weight: 400;
	background-color: #f9f9fd;
	padding-left: 10px;
	padding-top: 10px;
	resize: none;
	margin-bottom: 10px;
	border: none;
}

button {
	width: 100px;
	height: 35px;
	color: #16a085;
	margin-top: 20px;
	background-color: white;
	border-color: #16a085;
	font-size: 14px;
	font-family: Lato;
	font-weight: 400;
	display: block;
}

.btnflex {
	display: flex;
	justify-content: flex-end;
}

.info {
	color: #7f8c8d;
	font-size: 16px;
	font-family: Lato;
	font-weight: 400;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}
#previous_requests {
	height: 234px;
	overflow-y: scroll;
	text-align: left;
	background-color: #f9f9fd;
}
#previous_requests::-webkit-scrollbar {
	width: 10px;
}

#previous_requests::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #16a085, #354556);
}
